@import './variable';
@import './common/media';


.footer {
    margin-top: 237px;
    background: #090416;
    padding-bottom: 80px;

}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.footer-contact-addres {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: rgba(234, 234, 234, 0.59);
margin-bottom: 8px;
}
.footer-contact-addres:last-child {
    margin-bottom: 0;
}
.footer-contact-time {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: rgba(234, 234, 234, 0.59);
margin-top: 38px;
}
.footer-contact-tel {
    display: flex;
    align-items: center;
    margin-top: 29px;
}
.footer-contact-tel-img {
    margin-right: 7px;
}
.footer-contact-tel-link {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    text-transform: uppercase;
    color: #D1D1D1;
}
.footer-contact-tel-link:hover {
    text-decoration: underline;
}
.footer-maps {
    width: 800px;
}
.footer-maps-wrap {
}


//1200px
@include media-laptop {
    .footer {
        margin-top: 150px;

    }
    .footer-maps {
        width: 600px;
    }
}
//992px
@include media-tablet-horizontal {
.footer-container {
    flex-direction: column-reverse;
}
.footer-maps {
    margin-top: 50px;
}
}
//768px
@include media-tablet {
    .footer-contact {
        align-items: center;
    }
    .footer-maps {
        width: 100%;
    }
}
// 480
@include media-mobile {
    .footer-contact-addres {
        font-size:14px;
        line-height: 10px;
    }
    .footer-contact-time {
        font-size: 14px;
        line-height: 10px;
    }
}
// 320
@include media-mobile-small {

}
@include media-custom (375px) {

}