@import './variable';
@import './common/media';


.footer {
}
.footer-container {
}
.footer-contact {
}
.footer-contact-addres {
}
.footer-contact-time {
}
.footer-contact-tel {
}
.footer-contact-tel-img {
}
.footer-contact-tel-link {
}
.footer-maps {
}
.footer-maps-wrap {
}
