@import './variable';
@import './common/media';


.header {
    background: #14121A;
    padding-top: 19px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.header-nav {
    display: flex;
    align-items: center;
    margin-right: 111px;
}
.header-link {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    text-transform: uppercase;
    color: #D1D1D1;
    outline: none;
    text-decoration: none;
    margin-right: 59px;
    cursor: pointer;
    transition: 0.5s;

}
.header-link:hover {
    text-decoration: underline;
    transition: 0.5s;
}
.header-link:last-child{
    margin-right: 0;
}
.header-phone {
    display: flex;
    align-items: center;
}
.header-phone-img {
    margin-right: 7px;
}
.header-phone-link {
    outline: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    text-transform: uppercase;
    color: #D1D1D1;
    cursor: pointer;

}
.header-phone-link:hover {
    text-decoration: underline;
}
.header-burger {
    display: none;
}

//1200px
@include media-laptop {
    
}
//992px
@include media-tablet-horizontal {
    .header {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
    }
    .header-container {
        display: none;
    }
    .header-burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: -800px;
        background: rgba(122,122,153,1);
        box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.09);
        height: 100vh;
        width: 50%;
        top: -18px;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;

    }
    .header-burger__active {
        right: 0px;
        opacity: 1;
        pointer-events: all; 
        transition: 0.4s;
    }
    .header-nav {
        flex-direction: column;
        margin-right: 0;
        margin-top: 100px;

    }
    .header-burger-link {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .header-link {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .header-burger-curs {
        z-index: 30;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-7px, 6px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
   
}
//768px
@include media-tablet {
    .header-burger {
        width: 100%;
    }
}
// 480
@include media-mobile {

}
// 320
@include media-mobile-small {

}
@include media-custom (375px) {

}