@import './variable';
@import './common/globals.scss';
@import './header.scss';
@import './templates/promo.scss';
@import './templates/services.scss';
@import './templates/deleted.scss';
@import './templates/reviews.scss';
@import './templates/job.scss';



@import './footer.scss';

//component

