@import './variable';
@import './common/media';



.deleted {
    margin-top: 141px;
    background: linear-gradient(94.71deg, #0F0F17 4.15%, rgba(43, 43, 99, 0) 96.22%);
    position: relative;
}
.deleted-container {
    display: flex;
    flex-direction: column;
}
.deleted-title {
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
text-transform: uppercase;

color: #FFFFFF;
}
.deleted-form {
    padding-top: 41px;
    display: flex;
    flex-wrap: wrap;
}
.deleted-input {
    background: rgba(122, 122, 153, 0.21);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
text-align: left;
padding: 26px 0px 26px 17px;
margin-right: 20px;
width: 265px;
}
.deleted-input:nth-child(5) {
    margin-right: 75px;
    margin-top: 27px;

}
.deleted-input::placeholder{
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
text-transform: uppercase;
color: rgba(209, 209, 209, 0.38);
}
.deleted-btn {
    background: linear-gradient(91.6deg, #684DA7 6.57%, #422C69 69.11%);
border-radius: 10px;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;

color: #FFFFFF;
border: none;
width: 357px;
margin-top: 27px;
cursor: pointer;
}
.deleted-btn:hover {
    background: linear-gradient(191.6deg, #684DA7 6.57%, #422C69 69.11%);
    
}
.deleted-sfer {
    position: absolute;
    right: 0;
    top: -380px;
}


//1200px
@include media-laptop {
    .deleted-input {
        margin-top: 27px;
    }
    .deleted-input:nth-child(5) {
        margin-right: 20px;
    }
    .deleted-sfer {

        z-index: -1;
    }
}
//992px
@include media-tablet-horizontal {
    .deleted {
        margin-top: 70px;
        padding-bottom: 20px;
    }
    .deleted-title {
        font-size: 40px;
    }
    .deleted-form {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        flex-wrap: nowrap;
    }
    .deleted-input {
        margin-right: 0;
        margin-top: 15px;
        width: 400px;
        text-align: center;
    }
    .deleted-input:nth-child(5) {
        margin-right: 0;
        margin-top: 15px;
    }
    .deleted-btn {
        padding: 19px 78px 20px 78px;
        width: 265px;
        font-size: 15px;
        line-height: 18px;
    }
    .deleted-sfer {
        z-index: 0;
    pointer-events: none;
    }
}
//768px
@include media-tablet {
    .deleted-title {
        font-size: 26px;
        line-height: 40px;
    }
}
// 480
@include media-mobile {
    .deleted-title {
        font-size: 20px;
    line-height: 24px;
    }
    .deleted-input {
        font-size: 10px;
        line-height: 12px;
        padding: 11px 0px;
        margin-top: 10px;
        width: 100%;
    }
    .deleted-input::placeholder {
        font-size: 10px;
        line-height: 12px;
    }
    .deleted-input:nth-child(5) {
        margin-top: 10px;
    }
    .deleted-btn {
        font-size: 15px;
        line-height: 18px;
        padding: 9px 0px 10px 0px;
    }
}
@include media-custom (375px) {
    .deleted-title {
        font-size: 16px;
    }
}
// 320
@include media-mobile-small {

}
