@import './variable';
@import './common/media';



.deleted {
    padding-top: 141px;
}
.deleted-container {
}
.deleted-title {
}
.deleted-form {
}
.deleted-input {
}
.deleted-btn {
}
.deleted-sfer {
}