@import './variable';
@import './common/media';



.job {
}
.job-container {
}
.job-title {
}
.job-title-text {
}
.job-title-img {
}
.job-content {
}
.job-top {
}
.job-top-img {
}
.job-botoom {
}
.job-botoom-img {
}