@import './variable';
@import './common/media';



.promo {
}
.wrap {
}
.promo-container {
}
.promo-head {
}
.promo-head-title {
}
.promo-head-car {
}
.promo-head-red {
}
.promo-head-text {
}
.promo-form {
}
.promo-form-container {
}
.promo-form-number {
}
.promo-form-name {
}
.promo-form-btn {
}
.promo-sfer {
}