@import './variable';
@import './common/media';



.reviews {
    margin-top: 125px;
    padding-bottom: 40px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-title {
    position: relative;
}
.reviews-title-text {
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 98px;
text-transform: uppercase;

color: #6245A9;
}
.reviews-title-img {
    position: absolute;
    top: 40px;
    right: -45px;
}
.reviews-content {
    padding-top: 54px;
    padding-right: 40px;
}
.swiper-container {
    width: 924px;
    height: 430px;
    padding-top: 90px;
}
.swiper-wrapper {
}
.swiper-slide {
}
.reviews-wrap {
    position: relative;
    background: linear-gradient(104.12deg, rgba(96, 72, 223, 0.54) -5.03%, #0F0F17 99.23%);
    border-radius: 10px;
    width: 740px;
}
.reviews-block {
    background-image: url(/assets/images/reviews-fon.png);
    background-repeat: no-repeat;
    background-position: top 20% left 2%;
    padding: 26px 129px 22px 92px;
}
.reviews-bg {
    background: linear-gradient(104.12deg, rgba(96, 72, 223, 0.1) -5.03%, #0F0F17 99.23%);
    position: absolute;
}
.reviews-name {
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 40px;
display: block;
}
.reviews-text {
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
text-transform: uppercase;

color: #FFFFFF;
}
.reviews-block-raiting {
    margin-top: 80px;
}
.reviews-raiting-img {
}
.reviews-hov {
}
.reviews-foto {
    position: absolute;
    top: -89px;
    right: -79px;
}
.swiper-button-next::after{
    display:none

  }
  .swiper-button-prev,.swiper-button-next{
    background-image:url(/assets/images/svg/reviews.svg);
    background-position:center;
    background-repeat:no-repeat;
    min-width:56px;
    min-height:56px;
  }
  .swiper-button-prev{
    background-image:url(/assets/images/svg/reviews.svg);
    -webkit-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px)
  }


  //1200px
@include media-laptop {
    
}
//992px
@include media-tablet-horizontal {
    .reviews {
        margin-top: 70px;
    }
.swiper-container {
    width: 700px;
    padding-top: 25px;
}
.reviews-wrap {
    width: 600px;
}
.reviews-title-text {
    font-size: 40px;
}
.reviews-title-img {
    top: 43px;
    width: 285px;
    right: -39px;
}
.reviews-foto {
    top: -25px;
    width: 100px;
    right: -6px;
    height: 100px;
}
.reviews-block {
    padding: 26px 15px 22px 64px;

}
}
//768px
@include media-tablet {
    .swiper-container {
        width: 400px;
        height: 330px;
        padding-top: 40px;
    }
    .reviews-name {
        font-size: 25px;
        
    }
    .reviews-wrap {
        width: 100%;
    }
    .reviews-block {
        padding: 26px 15px 22px 22px;
    }
    .reviews-content {
        padding-right: 0px;
    }
    .reviews-foto {
        right: 12px;

    }
    .swiper-button-next {
        transform: translate(-158px, 130px);

    }
    .reviews-text {
        font-size: 10px;
        line-height: 12px;
    }
    .reviews-block-raiting {
        margin-top: 30px;
    }
    .reviews-name {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 25px;
    }
    .reviews-foto {
        top: -42px;

    }
    .reviews-raiting-img {
        height: 12px;
    }
}
// 480
@include media-mobile {
    .swiper-container {
        width: 280px;
        height: 310px;
        padding-top: 18px;

    }
    .swiper-button-next {
        transform: translate(-116px, 130px);

    }
    .swiper-button-prev,.swiper-button-next {
        min-width: 20px;
        min-height: 20px;
        background-size: 100% auto;
    }
    .reviews-foto {
        width: 57px;
        height: 57px;
        top: -18px;
    }
    .reviews-content {
        padding-top: 20px;
    }
    .reviews {
        margin-top: 17px;
    }
    .reviews-title-text {
        font-size: 20px;
        line-height: 20px;
    }
    .reviews-title-img {
        top: 13px;
        width: 116px;
        right: -8px;
    }
}
// 320
@include media-mobile-small {

}
@include media-custom (375px) {

}