@import './variable';
@import './common/media';



.reviews {
}
.wrap {
}
.reviews-container {
}
.reviews-title {
}
.reviews-title-text {
}
.reviews-title-img {
}
.reviews-content {
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.reviews-wrap {
}
.reviews-block {
}
.reviews-name {
}
.reviews-text {
}
.reviews-block-raiting {
}
.reviews-raiting-img {
}
.reviews-hov {
}
.reviews-foto {
}
.swiper-button-next {
}