@import './variable';
@import './common/media';



.reviews {
    margin-top: 75px;
    padding-bottom: 40px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-title {
    position: relative;
}
.reviews-title-text {
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 98px;
text-transform: uppercase;

color: #6245A9;
}
.reviews-title-img {
    position: absolute;
    top: 40px;
    right: -45px;
}
.reviews-content {
    padding-top: 54px;
    padding-right: 40px;
}
.swiper-container {
    width: 924px;
    height: 430px;
    padding-top: 90px;
}
.swiper-wrapper {
}
.swiper-slide {
}
.reviews-wrap {
    position: relative;
    background: linear-gradient(104.12deg, rgba(96, 72, 223, 0.54) -5.03%, #0F0F17 99.23%);
    border-radius: 10px;
    width: 740px;
}
.reviews-block {
    background-image: url(/assets/images/reviews-fon.png);
    background-repeat: no-repeat;
    background-position: top 20% left 2%;
    padding: 26px 129px 22px 92px;
}
.reviews-bg {
    background: linear-gradient(104.12deg, rgba(96, 72, 223, 0.1) -5.03%, #0F0F17 99.23%);
    position: absolute;
}
.reviews-name {
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 40px;
}
.reviews-text {
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
text-transform: uppercase;

color: #FFFFFF;
}
.reviews-block-raiting {
    margin-top: 80px;
}
.reviews-raiting-img {
}
.reviews-hov {
}
.reviews-foto {
    position: absolute;
    top: -89px;
    right: -79px;
}
.swiper-button-next::after{
    display:none

  }
  .swiper-button-prev,.swiper-button-next{
    background-image:url(/assets/images/svg/reviews.svg);
    background-position:center;
    background-repeat:no-repeat;
    min-width:56px;
    min-height:56px;
  }
  .swiper-button-prev{
    background-image:url(/assets/images/svg/reviews.svg);
    -webkit-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px)
  }
