@import './variable';
@import './common/media';



.reviews {
    margin-top: 75px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews-title {
    position: relative;
}
.reviews-title-text {
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 98px;
text-transform: uppercase;

color: #6245A9;
}
.reviews-title-img {
    position: absolute;
    top: 40px;
    right: -45px;
}
.reviews-content {
    margin-top: 40px;
}
.swiper-container {
    width: 924px;
    height: 430px;
}
.swiper-wrapper {
}
.swiper-slide {
}
.reviews-wrap {
}
.reviews-block {
}
.reviews-name {
}
.reviews-text {
}
.reviews-block-raiting {
}
.reviews-raiting-img {
}
.reviews-hov {
}
.reviews-foto {
}
.swiper-button-next::after{
    display:none

  }
  .swiper-button-prev,.swiper-button-next{
    background-image:url(/assets/images/svg/reviews.svg);
    background-position:center;
    background-repeat:no-repeat;
    min-width:56px;
    min-height:56px;
  }
  .swiper-button-prev{
    background-image:url(/assets/images/svg/reviews.svg);
    -webkit-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px)
  }
