@import './variable';
@import './common/media';



.services {
}
.wrap {
}
.services-container {
}
.services-title {
}
.services-title-text {
}
.services-title-img {
}
.services-content {
}
.services-item {
}
.services-wrap {
}
.services-item-title {
}
.services-item-text {
}