@import './variable';
@import './common/media';



.services {
    position: relative;
    padding-top: 180px;
}
.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
.services-title-text {
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 98px;
text-align: right;
text-transform: uppercase;

color: rgba(98, 69, 169, 0.84);
padding-top: 40px;
padding-right: 80px;
}
.services-title-img {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    right: 0;
}
.services-content {
    display: flex;
    width: 100%;
    margin-bottom: 38px;
}
.services-item {
    width: 550px;
    background: #14151D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 75px 52px 74px;
    margin-right: 20px;
    position: relative;
    transition: 0.4s;
}
.services-item:hover {
    background: linear-gradient(104.12deg, rgba(96, 72, 223, 0.54) -5.03%, #0F0F17 99.23%);
    border-radius: 10px;
    transform: scale(1.2);
    z-index: 15;
    padding: 29px 29px 65px 29px;
    transition: 0.4s;
}
.services-wrap {
    background: linear-gradient(104.12deg, rgba(96, 72, 223, 0.54) -5.03%, #0F0F17 99.23%);
filter: blur(134px);
border-radius: 10px;
position: absolute;
opacity: 0; 
transition: 0.4s;
width: 100%;
    height: 37%;
}
.services-item:hover .services-wrap {
    opacity: 1;
    transform: translateX(10px);
    transition: 0.4s;
}
.services-item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #272735;
    margin-bottom: 40px;
    transition: 0.2s;
}
.services-item:hover .services-item-title {
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 37px;
text-transform: uppercase;

color: #FFFFFF;
transition: 0.2s;
}
.services-item-text {
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
text-align: center;
text-transform: uppercase;

color: #272735;
transition: 0.1s;
}
.services-item:hover .services-item-text {
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 30px;
text-transform: uppercase;

color: #FFFFFF;
transition: 0.1s;
}